<a href="https://colab.research.google.com/github/uday-routhu/week2/blob/master/Groupby_Core.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Groupby Core

In [2]:
  # Author: udayakumar Routhu

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
fpath='/content/drive/MyDrive/CodingDojo/01-Fundamentals/Week02/Data/insurance_mod.csv'

In [91]:
import pandas as pd
df_insurance = pd.read_csv(fpath)
df_insurance

      age     sex     bmi  children  smoker     region  charges
0      19  female  27.900         0       1  southwest  16885.0
1      18    male  33.770         1       0  southeast   1726.0
2      28    male  33.000         3       0  southeast   4449.0
3      33    male  22.705         0       0  northwest  21984.0
4      32    male  28.880         0       0  northwest   3867.0
...   ...     ...     ...       ...     ...        ...      ...
1333   50    male  30.970         3       0  northwest  10601.0
1334   18  female  31.920         0       0  northeast   2206.0
1335   18  female  36.850         0       0  southeast   1630.0
1336   21  female  25.800         0       0  southwest   2008.0
1337   61  female  29.070         0       1  northwest  29141.0

[1338 rows x 7 columns]

In [92]:
#creating age data frame
df_age=df_insurance['age']

In [93]:
#What is the average age for the entire data set?
avg_age=df_insurance['age'].mean()
print('Avg age:',avg_age)

Avg age: 39.20702541106129

In [94]:
#What is the age of the oldest person in the entire data set (the maximum age)?
max_age=df_insurance['age'].max()
print('oldest person:',max_age)

oldest person: 64

In [95]:
#What is the age of the youngest person in the entire data set (the minimum age)?
youngest_person=df_insurance['age'].min()
print('youngest person:', youngest_person)

youngest person: 18

In [96]:
#What is the average for charges for the entire data set?
avg_charge = df_insurance['charges'].mean()
print('avg charges',avg_charge)

avg charges 13270.414798206279

In [97]:
#What is the average for charges grouped by sex?
avg_charges_by_sex=df_insurance.groupby('sex')['charges'].mean()
print("Average charges grouped by sex:",avg_charges_by_sex)

Average charges grouped by sex: sex
female    12569.584592
male      13956.730769
Name: charges, dtype: float64

In [98]:
from pandas.io.stata import max_len_string_array
#What is the average for charges, grouped by if the person is a smoker?
avg_charges_for_smoker = df_insurance.groupby('smoker')['charges'].mean()
print('avg charges for smoker:',avg_charges_for_smoker)

avg charges for smoker: smoker
0     8434.260338
1    32050.226277
Name: charges, dtype: float64

In [99]:
#What is the average for charges grouped by if the person smokes and their sex?
avg_person_smokes_and_their_sex=df_insurance.groupby(['smoker','sex'])['charges'].mean()
print('avg person_smokes and theri sex',avg_person_smokes_and_their_sex)

avg person_smokes and theri sex smoker  sex
0       female     8762.307130
        male       8087.177950
1       female    30678.982609
        male      33042.006289
Name: charges, dtype: float64